<!DOCTYPE html>
<html>
<head>
    <title>Contact Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>All Contacts</h1>
    <a href="/add">Add New Contact</a>
    <table>
        <tr>
            <th>Name</th><th>Address</th><th>Email</th><th>Phone</th><th>Actions</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact[1] }} {{ contact[2] }}</td>
            <td>{{ contact[3] }}</td>
            <td>{{ contact[4] }}</td>
            <td>{{ contact[5] }}</td>
            <td>
                <a href="/edit/{{ contact[0] }}">Edit</a> |
                <a href="/delete/{{ contact[0] }}" onclick="return confirm('Delete this contact?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
